@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;1,300;1,400&family=Alice&family=Courgette&family=Schoolbell&display=swap');
/* Fonts: 
    font-family: 'Aleo', serif;

    font-family: 'Alice', serif;

    font-family: 'Courgette', cursive;

    font-family: 'Schoolbell', cursive; 
*/

main {
    margin-top: 100px;
}

main, footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}
main>section{
    border: 1px solid black;
    text-align: center;
    height: 50px;
}
footer>section{
    border: 1px solid black;
    text-align: center;
    height: 50px;
}

.slogan-image{
    position: absolute;
    z-index: -1;
}

.Profile-image-div{
    width: 14%;
    margin-left: auto;
    margin-right: auto;
}

.Profile-image {
	width: 100%;
	border-radius: 50%;
    box-shadow: -2px 4px 15px black;
    margin-top: 51%;
}


.Intro{
    grid-column-end: span 4;
}

.Intro-left{
    grid-column-end: span 2;
}

.Intro-right{
    grid-column-end: span 2;
}

.Projects-header{
    grid-column-end: span 4;
}


.Projects-footer{
    grid-column-end: span 4;
}

.More-skills{
    grid-column-end: span 4;
}

.Footer-left{
    grid-column-end: span 2;
}
.Footer-right{
    grid-column-end: span 2;
}
