/* 
            SUMMARY 
    1. Fonts import 
    2. General declarations and main GRID system
    3. Heared section
    4. Intro section
    5. Intro left section
    6. Intro Right section
    7. Projects header
    8. Projects grid
    9. More projects
    10. Projects footer
    11. More skills header
    12. More skills main
    13. Footer Left
    14. Footer Righ

*/

/* 1. Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;1,300;1,400&family=Alice&family=Courgette&family=Schoolbell&display=swap');
/* Fonts: 
    font-family: 'Aleo', serif;

    font-family: 'Alice', serif;

    font-family: 'Courgette', cursive;

    font-family: 'Schoolbell', cursive; 

    END of Fonts Import
*/


/* 2. General declarations and main GRID system */

*{
    margin: 0;
    padding: 0;
}

main, footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}
main>section{
    border: 1px solid black;
    text-align: center;
    min-height: 50px;
}
footer>section{
    border: 1px solid black;
    text-align: center;
    min-height: 50px;
}

.slogan-image{
    position: absolute;
    z-index: -1;
}

.Profile-image-div{
    width: 14%;
    margin-left: auto;
    margin-right: auto;
}

.Profile-image {
	width: 100%;
	border-radius: 50%;
    box-shadow: -2px 4px 15px black;
    margin-top: 51%;
}

/* END of General declarations and main GRID system */

/* 3. Header section */
.Name {
    font-size: 56px;
    color: #38b6ff;
    font-family: 'Courgette', cursive;
}

.Person-description{
    margin-top: 5px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Aleo', serif;
}

.More-about-me {
    margin-top: 1em;
    margin-left:  122px;
    margin-right: 122px;
    margin-bottom: 1em;
    padding: 20px;
    font-size: 10px;
    text-align: justify;
	font-family: 'Alice', serif;
    background: rgb(234, 234, 234);
}

.mAmHeading{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
/* END of Header section*/

/* 4.INTRO SECTION */

.Intro{
    grid-column-end: span 4;
}
/*END of Intro*/

/* 5. Intro Left*/

.Intro-left{
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 50px;
    margin: 20px;
    font-family: 'Aleo', serif;
    
}

.Intro-left>div {
    margin: 1px;
    padding: 1px;
}

.ILHeading,.skillsHeading {
    grid-column-end: span 3;
    margin: 20px 0px !important;
}

.loveToDo-1 {

}

.loveToDo-1>.img{
    width: 62.4844px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.loveToDo-1,.loveToDo-2,.loveToDo-3,.loveToDo-4,.loveToDo-5,.loveToDo-6>svg {
    display: block;
}

.loveToDo-2 {
    
}

.loveToDo-2>.img {
    width: 52.59px;
    margin-right: auto;
    margin-left: auto;
    height: 60px;
}

.loveToDo-3 {
    
}

.loveToDo-3>.img {
    width: 52.59px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}


.loveToDo-4 {
    
}

.loveToDo-4>.img {
    width: 40px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.loveToDo-5 {
    
}

.loveToDo-5>.img {
    width: 52.59px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.loveToDo-6 {
    
}

.loveToDo-6>.img {
    width: 52.59px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.skillsHeading {
    grid-column-end: span 3;
}

.skill {
    grid-column-end: span 1;
}
 .skill-scale {
    color: #38b6ff;
    grid-column-end: span 2;
 }

 .progressDots {
    color: #38b6ff;
    grid-column-end: span 2;
    padding-left: 15% !important;
 }

 .progressDots>i {
     float: left;
     font-size: 10px;
     margin-left: 10px;
     margin-top: 5px;
 }
/* END of Intro left*/

/* 6. Intro right*/

.Intro-right{
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    background: rgb(234, 234, 234);
    margin: 20px 0px;
    padding: 20px ;
    font-family: 'Aleo', serif;
}

.Intro-heading {
    grid-column-end: span 3;
}

.Intro-right-img {
    grid-column-start: span 1;
    grid-column-end: span 2;
    grid-row-end: span 4;
}

.Years-animation {
    width: 5px;
    height: 90%;
    background: #38b6ff;
    animation-name: yearsLine;
    animation-duration: 15s;
    margin-left: auto;
    margin-right: auto;
}

@keyframes yearsLine{
    0%{height: 0%;}
    20%{height: 3%;}
    40%{height: 20%;}
    60%{height: 43%;}
    80%{height: 75%;}
    100%{height: 90%;}
}

.animationDots {
    position: relative;
    left: -5px;
    color: #38b6ff;
    
}

.d1,.d2,.d3,.d4 {
    display: none;
}

.d1 {
    top: 0px;
    display: none;
}

.d2 {
    top: 3.5em;
}

.d3 {
    top: 9em;
}

.d4 {
    top: 17.2em;
}

.year2016,.skills2016, .year2018, .skills2018,
.year2019, .skills2019, .year2020, .skills2020{
    display: none;
}


/* END Intro rightT */

/* Projects section */ 

.Projects-header{
    grid-column-end: span 4;
    height: 159px;
    background: #4b4949;
    color: #38b6ff;
    font-size: 36px; 
    font-family: 'Alice', serif;
}
.Projects-header > h2 {
    margin-top: 40px;
}

.Projects {
    margin: 5px;
}

.Projects-footer{
    grid-column-end: span 4;
    height: 30px;
    background: #4b4949;
    color: #38b6ff;
    font-size: 20px; 
    font-family: 'Alice', serif;
}
.Projects-footer > a {
    padding-top: 10px;
    display: block;
    color: #38b6ff;
}

/* END Projects */

.More-skills{
    grid-column-end: span 4;
}

.Footer-left{
    grid-column-end: span 2;
}
.Footer-right{
    grid-column-end: span 2;
}
