@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;1,300;1,400&family=Alice&family=Courgette&family=Schoolbell&display=swap');
/* Fonts: 
    font-family: 'Aleo', serif;

    font-family: 'Alice', serif;

    font-family: 'Courgette', cursive;

    font-family: 'Schoolbell', cursive; 
*/

*{
    margin: 0;
    padding: 0;
}

main, footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}
main>section{
    border: 1px solid black;
    text-align: center;
    min-height: 50px;
}
footer>section{
    border: 1px solid black;
    text-align: center;
    min-height: 50px;
}

.slogan-image{
    position: absolute;
    z-index: -1;
}

.Profile-image-div{
    width: 14%;
    margin-left: auto;
    margin-right: auto;
}

.Profile-image {
	width: 100%;
	border-radius: 50%;
    box-shadow: -2px 4px 15px black;
    margin-top: 51%;
}


.Intro{
    grid-column-end: span 4;
}

.Name {
    font-size: 56px;
    color: #38b6ff;
    font-family: 'Courgette', cursive;
}

.Person-description{
    margin-top: 5px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Aleo', serif;
}

.More-about-me {
    margin-top: 1em;
    margin-left:  122px;
    margin-right: 122px;
    margin-bottom: 1em;
    padding: 20px;
    font-size: 10px;
    text-align: justify;
	font-family: 'Alice', serif;
    background: #d9d9d9;
}


.mAmHeading{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}



.Intro-left{
    grid-column-end: span 2;
}

.Intro-right{
    grid-column-end: span 2;
}

.Projects-header{
    grid-column-end: span 4;
}


.Projects-footer{
    grid-column-end: span 4;
}

.More-skills{
    grid-column-end: span 4;
}

.Footer-left{
    grid-column-end: span 2;
}
.Footer-right{
    grid-column-end: span 2;
}
