/* 
            SUMMARY 
    1. Fonts import 
    2. Resoinsive design and main GRID system
    3. Heared section
    4. Intro section
    5. Intro left section
    6. Intro Right section
    7. Projects header
    8. Projects grid
    9. More projects
    10. Projects footer
    11. More skills header
    12. More skills main
    13. Footer Left
    14. Footer Righ

*/

/* 1. Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;1,300;1,400&family=Alice&family=Courgette&family=Schoolbell&display=swap');
/* Fonts: 
    font-family: 'Aleo', serif;

    font-family: 'Alice', serif;

    font-family: 'Courgette', cursive;

    font-family: 'Schoolbell', cursive; 

    END of Fonts Import
*/


/* 2. Responsive design and main GRID system */

*{
    margin: 0;
    padding: 0;
}

main, .footer-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}


main>section{
    /* border: 1px solid black; */
    text-align: center;
    min-height: 50px;
}
footer>section{
    /* border: 1px solid black; */
    text-align: center;
    min-height: 50px;
}

footer{
    width: 100%;
    background-color: #4b4949;
}

.slogan-image{
    position: absolute;
    z-index: -1;
}

.Profile-image-div{
    width: 14%;
    margin-left: auto;
    margin-right: auto;
}

.Profile-image {
	width: 100%;
	border-radius: 50%;
    box-shadow: -2px 4px 15px black;
    margin-top: 51%;
}

@media screen and (max-width: 759px){
    main, .footer-grid{
        width: 360px;
    }

    div.Profile-image-div {
        width: 20%;
    }

    p.More-about-me{
        margin-left: 1px;
        margin-right: 1px;
    }

    h1.Name{
        font-size: 36px;
    }

    p.Person-description{
        font-size: 10px;
    }

    section.Intro-left{
        grid-column-end: span 4;
    }

    section.Intro-right{
        grid-column-end: span 4;
    }
    section.Projects {
        min-height: 90px;
    }

    div.flip-card-front > h3{
        font-size: 23px;
    }


    h2.Intro-heading {
        margin-bottom: 23px;
    }

    div.wrapperYear2016{
        padding-top: 14px;
    }

    div.wrapperYear2018{
        padding-top: 23px;
    }

    div.wrapperYear2019{
        padding-top: 36px;
    }

    div.wrapperYear2020{
        padding-top: 0px;
    }

    div.skills2016, div.skills2018, div.skills2019, div.skills2020 > span, p {
        margin-top: 5px;
        font-size: 13px;
    }

    div.skills2016 {
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }

    div.skills2018, div.skills2019, div.skills2020{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid;
    }
    
    div.d1 {
        top: 15px;
    }

    div.d2 {
        top: 3.5em;
    }
    
    div.d3 {
        top: 9em;
    }
    
    div.d4 {
        top: 12.2em;
    }

    p.wrapperMoreSkills {
        padding-left: 10px;
        padding-right: 10px;
    }

    section.Footer-left{
        grid-column-end: span 4;
    }

    section.Footer-right{
        grid-column-end: span 4;
    }
    

}

/* Rasponsive resign and main GRID system */

/* 3. Header section */
.Name {
    font-size: 56px;
    color: #38b6ff;
    font-family: 'Courgette', cursive;
}

.Person-description{
    margin-top: 5px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Aleo', serif;
}

.More-about-me {
    margin-top: 1em;
    margin-left:  122px;
    margin-right: 122px;
    margin-bottom: 1em;
    padding: 20px;
    font-size: 10px;
    text-align: justify;
	font-family: 'Alice', serif;
    background: rgb(234, 234, 234);
}

.mAmHeading{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
/* END of Header section*/

/* 4.INTRO SECTION */

.Intro{
    grid-column-end: span 4;
}
/*END of Intro*/

/* 5. Intro Left*/

.Intro-left{
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 50px;
    margin: 20px 0px;
    padding: 20px;
    font-family: 'Aleo', serif;
    
}

.Intro-left>div {
    margin: 1px;
    padding: 1px;
}

.ILHeading,.skillsHeading {
    grid-column-end: span 3;
    margin: 20px 0px !important;
}


.loveToDo-1>.img{
    width: 62.4844px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.loveToDo-1,.loveToDo-2,.loveToDo-3,.loveToDo-4,.loveToDo-5,.loveToDo-6>svg {
    display: block;
}


.loveToDo-2>.img {
    width: 52.59px;
    margin-right: auto;
    margin-left: auto;
    height: 60px;
}


.loveToDo-3>.img {
    width: 52.59px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}


.loveToDo-4>.img {
    width: 40px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.loveToDo-5>.img {
    width: 52.59px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.loveToDo-6>.img {
    width: 52.59px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.skillsHeading {
    grid-column-end: span 3;
}

.skill {
    grid-column-end: span 1;
}
 .skill-scale {
    color: #38b6ff;
    grid-column-end: span 2;
 }

 .progressDots {
    color: #38b6ff;
    grid-column-end: span 2;
    padding-left: 15% !important;
 }

 .progressDots>i {
     float: left;
     font-size: 10px;
     margin-left: 10px;
     margin-top: 5px;
 }
/* END of Intro left*/

/* 6. Intro right*/

.Intro-right{
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    background: rgb(234, 234, 234);
    margin: 20px 0px;
    padding: 20px ;
    font-family: 'Aleo', serif;
}

.Intro-heading {
    grid-column-end: span 3;
}

.Intro-right-img {
    grid-column-start: span 1;
    grid-column-end: span 2;
    grid-row-end: span 4;
}

.Years-animation {
    width: 5px;
    height: 90%;
    background: #38b6ff;
    animation-name: yearsLine;
    animation-duration: 15s;
    margin-left: auto;
    margin-right: auto;
}

@keyframes yearsLine{
    0%{height: 0%;}
    20%{height: 3%;}
    40%{height: 20%;}
    60%{height: 43%;}
    80%{height: 80%;}
    100%{height: 90%;}
}

.animationDots {
    position: relative;
    left: -5px;
    color: #38b6ff;
    
}

.d1,.d2,.d3,.d4 {
    display: none;
}

.d1 {
    top: 0px;
    display: none;
}

.d2 {
    top: 3.5em;
}

.d3 {
    top: 9em;
}

.d4 {
    top: 17.2em;
}

.year2016,.skills2016, .year2018, .skills2018,
.year2019, .skills2019, .year2020, .skills2020{
    display: none;
}


/* END Intro rightT */

/* Projects section */ 

.Projects-header{
    grid-column-end: span 4;
    height: 159px;
    background: #4b4949;
    color: #38b6ff;
    font-size: 36px; 
    font-family: 'Alice', serif;
}
.Projects-header > h2 {
    margin-top: 40px;
}

.Projects {
    margin: 5px;
    min-height: 180px;
}


.Projects-main, .Projects-hidden{
    grid-column-end: span 4;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.flip-card {
    background-color: transparent;
    height: 100%;
    max-height: 180px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #4b4949;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

div.flip-card-back > h2{
    font-size: 26px;
    color: #38b6ff;
    padding: 10px;
}

div.flip-card-back > p {
    font-size: 14px;
    margin: 5px;
    color: white !important;
}

div.flip-card-back > a {
    color: black;
    text-decoration: none;
    padding: 3px;
    background-color: #05F29B;
    border-radius: 5px;
}
  
.flip-card-front {
    color: black;
}

.flip-card-front > h3 {
    font-size: 46px;
    color: #38b6ff;
    margin-top: 30px;
    text-shadow: 1px 1px 4px black;
    font-family: 'Alice', serif;
    
    
}

#flip-card-front-1 {
    background: url("https://cdn.dribbble.com/users/80284/screenshots/3134610/fingerprint-icon.png");
    background-size: cover;
    background-position: center center;
}

#flip-card-front-2 {
    background: url("../images/Menu-creation-app.png");
    background-size: cover;
    background-position: center center;
}   

#flip-card-front-3 {
    background: url("../images/WordPress.jpg");
    background-size: cover;
    background-position: center center;
}

.flip-card-front > img {
    max-height: 180px;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.Projects-footer{
    grid-column-end: span 4;
    height: 30px;
    background: #4b4949;
    color: #38b6ff;
    font-size: 20px; 
    font-family: 'Alice', serif;
}
.Projects-footer > a {
    padding-top: 10px;
    display: block;
    color: #38b6ff;
}

#Projects-button{
    background: none;
    border: none;
    cursor: pointer;
    color: #38b6ff;
    font-size: 24px;
    margin-top: 5px;
}

#Projects-button:hover{
    text-decoration: underline;
}


/* END Projects */

/* More Skills */



.More-skills > h2 {
    font-family: 'Schoolbell', cursive; 
    font-weight: lighter;
    color: #ff646b;
    text-transform: uppercase;
    margin-top: 80px;
    font-size: 73px;
}

.More-skills > h3 {
    font-family: 'Alice', serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.More-skills > p {
    font-size: 30px;
    text-align: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

.moreParticularSkills {
    font-family: 'Schoolbell', cursive; 
    margin-left: 20px;
}

.moreSkillsNumbersPink {
    background-color: #ff646b;
    color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

.moreSkillsNumbersBlue {
    background-color: #2878d0;
    color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}



.More-skills{
    grid-column-end: span 4;
}

/* END More Skills */

.Footer-left{
    grid-column-end: span 2;
    min-height: 250px;
}

.socials {
    margin-top: 20px;
}

.socials>a {
    position: relative;
    margin-left: 10px;
    text-decoration: none;
}

.socials > a:hover {
    top:-5px;
}

#socialIconsSlogan {
    margin-top: 30px;
    padding: 0px 20px;
    color: #38b6ff;
    text-shadow: 1px 1px 4px black;
}

.socialIcons {
    font-size: 26px;
    color: black;
    cursor: pointer;
}

.Footer-right{
    text-align: center;
    grid-column-end: span 2;
    min-height: 250px;
}

#emailFormSlogan {
    margin-top: 30px;
    padding: 0px 20px;
    color: #38b6ff;
    text-shadow: 1px 1px 4px black;
}

div.form {
    padding: 20px 10px;
}

form > label, input {
    display: block;
    width: 100%;
    padding-left: 2px;
    
}

form > label {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #38b6ff;
}

form > input {
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 25px;
}

#emailTextField {
    width: 100%;
    height: 100px;
    padding-left: 2px;
    padding-top: 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#submitButton {
    margin-top: 10px;
    background-color: #ff646b;
    border: 1px solid black;
    color: white;
}

#submitButton:hover{
    background-color: #38b6ff;
    cursor: pointer;
}

.emailSent {
    display: none;
}